<div class="container">
  <div class="row">
    <div class="mx-auto" style="text-align: center;">
      <div style="height: 50vh; text-align: center;"><ng-iran-province-picker (ProvinceSelected)="log($event)"></ng-iran-province-picker></div>
      <h1 style="color: white;">Selected Province is <span>{{Province}}</span></h1>
      <a class="btn btn-light" href="https://github.com/ParsaGachkar/ng-iran-province-picker"> <i class="fa fa-github"></i> Github Repository </a>
    </div>

  </div>
</div>
